[submodule "prediction_testing/source_programs/trivial_benchmark/prediction_testing/source_programs/graph_benchmark/gapbs"]
	path = prediction_testing/source_programs/trivial_benchmark/prediction_testing/source_programs/graph_benchmark/gapbs
	url = https://github.com/sbeamer/gapbs.git
